# Data ignore
*.mat
*.h5
*.tf
*.wav
*.pcm
*.f32

# Python and Jupyter ignores
*.pyx
*.pyc
__pycache__/
.ipynb_checkpoints/

# Folders
ckpt/
aud/*/
data/*/
dependencies/*/

# More ignores
*.DS_Store
*egg-info